* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    flex-wrap: wrap;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
  }
  
  .top-header input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    margin-top: 10px;
  }
  
  .top-header ul {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 12px 0;
  }
  
  .top-header ul li a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .top-header ul li a:hover {
    color: #1abc9c;
  }
  
  .main-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 12px 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
  }
  
  .main-nav ul li a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
    transition: color 0.3s;
    padding: 8px 10px;
    display: inline-block;
  }
  
  .main-nav ul li a:hover {
    color: #1abc9c;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
    transition: color 0.3s;
    width: 30%;
  }
  
  .search-container :hover {
    color: #1abc9c;
  }
  
  .search-container input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
  }
  
  .search-icon {
    font-size: 18px;
    color: #333;
    cursor: pointer;
  }
  
  
  section {
    padding: 40px 30px;
  }
  
  .tourism-table h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1e272e;
    font-weight: bold;
  }
  
  .tourism-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .tourism-table th, .tourism-table td {
    border: 1px solid #d8cfc0;
    padding: 12px;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
  }
  
  .tourism-table th {
    background-color: #fefefe;
    color: #333;
    font-weight: bold;
  }
  